#logo {
    display:block;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    position:relative;
    width:425px;
}


#greet{
    position:absolute;
    top:1%;
    right:1.5%;
    margin-bottom :1%;
}
#search {
    position:absolute;
    left:37%;
    top:15%;
    width:31%;
    height:8%;
}

#searchButton {
    background-color: #8DCAFF;
    border:none;
    color: white;
    font-family: sans-serif;
    border-radius:5px;
    padding: 5px 60px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

#searchButton:hover {
    background-color:#083B66;
    color:white;
}


#songList {
    position:fixed;
    display:inline-block;
    left:0px;
    margin-top:1.5%;
    margin-bottom:1.5%;
    top:20%;
    width:100%;
    height:70%;
    overflow-y: scroll;
}

#trackSearch{
    width:50%;
    height:30%;
    font-family: sans-serif;
    padding:3px;
    border-radius:5px;
    position:relative;
    outline: none;
}

#logout {
    position: absolute;
    left:0.25%;
    top:1%;
}

#logoutBut {
    width:auto;
    border-radius:5px;
}

.buttons {
    background-color:#8DCAFF; 
    border: none;
    color: white;
    padding: 5px 40px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width:28.7%;
}
.buttons:hover {
    background-color:#083B66;
    color:white;
}


#menu {
    position: absolute;
    width:160px;
    height:260px;
    top:12%;
    left:20%;
    z-index:99;
}

#fake {
    position:absolute;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    z-index:-1;
}

#menuHeader {
    position:absolute;
    height:45px;
    width:100%;
    top:0px;
    left:0px;
    background-color:#6AB1FB; 
    border: none;
    color: white;
    padding: 5px 40px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
}

#menuHeader:hover {
    background-color:#083B66;
    color:white;
}

.options {
    position:absolute;
    height:45px;
    width:100%;
    left:0px;
    background-color:#1879DE; 
    border: none;
    color: white;
    padding: 5px 40px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: "Tisa Pro Bold", sans-serif;
    transition:1s;
    top:0px;
}


.options:hover {
    background-color:#083B66;
    color:white;
}


#addtoPlaylist {
    width:100%;
}

#addForm {
    bottom:0.5%;
    position: absolute;
    left:0px;
    width:174px;
    height:auto;
}

#getLyricsForm{
    position: absolute;
    left:0px;
    width:174px;
    bottom:-25px;
    height:auto;
}

#getLyricsBut {
    width:100%;
}

body{
    background-image: url('background.jpg');
    color: white;
    font-family: sans-serif;
}


#greet {
    position: absolute;
    top:1%;
    right:1.5%;
    margin-bottom: 1%;
}

#error {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    margin:auto;
    width:23vw;
    height:5vh;
}

#switch {
    position:absolute;
    right:2%;
    top:12.5%;
    width:30%;
    height:4%;
}

#artistDiv {
    position:absolute;
    left:0px;
    right:0px;
    top:0%;
    margin:auto;
    width:90vw;
    height:40vh;
}

#image {
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:auto;
}

#name {
    position:absolute;
    top:0%;
    left:25%;
}

#bio {
    position: absolute;
    width:70%;
    top:20%;
    height:auto;
    left:25%;
    font-size:15px;
}

#time {
    position:absolute;
    left:25%;
    top:70%;
}

.similarForm {
    position:relative;
    width:220px;
    height:120px;
    display:inline-block;
    margin-right:20px;
}

.similarImage {
    position:absolute;
    width:110px;
    height:96px;
    top:0px;
    left:0xp;
}

.similarArtists {
    position:absolute;
    top:0px;
    left:55%;
    margin-top:-2px;
}

#similarArtistsDiv {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0%;
    margin:auto;
    width:90vw;
    height:25vh;
}

#details {
    position:absolute;
    bottom:0px;
    left:0px;
    width:110px;
}

#error {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    margin:auto;
    width:23vw;
    height:5vh;
}